@font-face {
    font-family: "iconfont"; /* Project id 4004928 */
    src: url('//at.alicdn.com/t/c/font_4004928_yujl30odo7.woff2?t=1682783657338') format('woff2'),
    url('//at.alicdn.com/t/c/font_4004928_yujl30odo7.woff?t=1682783657338') format('woff'),
    url('//at.alicdn.com/t/c/font_4004928_yujl30odo7.ttf?t=1682783657338') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xingzhuang-juxing:before {
    content: "\eb97";
}

.icon-xingzhuang-wenzi:before {
    content: "\eb99";
}

.icon-xingzhuang-tuoyuanxing:before {
    content: "\eb9a";
}

.icon-xingzhuang-sanjiaoxing:before {
    content: "\eb9b";
}

.icon-xingzhuang-xingxing:before {
    content: "\eb9c";
}

.icon-yuanjiaojuxing:before {
    content: "\edf8";
}

.icon-line:before {
    content: "\e6bb";
}

.icon-tupian2:before {
    content: "\e62a";
}

.icon-dianzan:before {
    content: "\e656";
}

.icon-redian:before {
    content: "\e6be";
}

.icon-fasong:before {
    content: "\e62b";
}

.icon-aixin_shixin:before {
    content: "\eca1";
}

.icon-caidan_14:before {
    content: "\e769";
}

.icon-tupian1:before {
    content: "\e870";
}

.icon-daohangshoucangyishoucang:before {
    content: "\e629";
}

.icon-24gf-bookmarks:before {
    content: "\e8b7";
}

.icon-shoucang1:before {
    content: "\e8c6";
}

.icon-zhaoxiangji:before {
    content: "\e628";
}

.icon-shouye:before {
    content: "\e600";
}

.icon-xiaoxi:before {
    content: "\e627";
}

.icon-a-ADOBEAI:before {
    content: "\e61d";
}

.icon-Word:before {
    content: "\e61e";
}

.icon-vip-fill:before {
    content: "\e61f";
}

.icon-pdf:before {
    content: "\e620";
}

.icon-a-Brushhuabi1:before {
    content: "\e621";
}

.icon-xiugai:before {
    content: "\e622";
}

.icon-vip:before {
    content: "\e623";
}

.icon-VIsheji:before {
    content: "\e624";
}

.icon-yunweijiaobenpingtai:before {
    content: "\e625";
}

.icon-empathy_adobe_express:before {
    content: "\e626";
}

.icon-huaban:before {
    content: "\e601";
}

.icon-huangguan:before {
    content: "\e602";
}

.icon-fanhui:before {
    content: "\e603";
}

.icon-a-pinglun1:before {
    content: "\e604";
}

.icon-shangchuan:before {
    content: "\e605";
}

.icon-pinglun:before {
    content: "\e606";
}

.icon-huabi:before {
    content: "\e607";
}

.icon-fangan:before {
    content: "\e608";
}

.icon-fujian:before {
    content: "\e609";
}

.icon-a-xiala1:before {
    content: "\e60a";
}

.icon-tuichu:before {
    content: "\e60b";
}

.icon-a-shoucang1:before {
    content: "\e60c";
}

.icon-shuaxin:before {
    content: "\e60d";
}

.icon-xiala:before {
    content: "\e60e";
}

.icon-a-20230227-1158261:before {
    content: "\e60f";
}

.icon-hulianwang:before {
    content: "\e610";
}

.icon-w_huabi:before {
    content: "\e611";
}

.icon-weixinzhifu:before {
    content: "\e612";
}

.icon-fanchuan:before {
    content: "\e613";
}

.icon-huahua:before {
    content: "\e614";
}

.icon-gerenzhongxin:before {
    content: "\e615";
}

.icon-tupian:before {
    content: "\e616";
}

.icon-jian:before {
    content: "\e617";
}

.icon-a-huihua1:before {
    content: "\e618";
}

.icon-shoucang:before {
    content: "\e619";
}

.icon-zhifubao:before {
    content: "\e61a";
}

.icon-feiji:before {
    content: "\e61b";
}

.icon-huihua:before {
    content: "\e61c";
}

.icon-sharpicons_stylus:before {
    content: "\e7dd";
}

.icon-sharpicons_vector-shape-:before {
    content: "\e7de";
}

.icon-sharpicons_vector-shape:before {
    content: "\e7df";
}

.icon-sharpicons_vector-shape-pen:before {
    content: "\e7e0";
}

.icon-sharpicons_brush:before {
    content: "\e7e1";
}

.icon-sharpicons_crop:before {
    content: "\e7e2";
}

.icon-sharpicons_files:before {
    content: "\e7e3";
}

.icon-sharpicons_line-shape:before {
    content: "\e7e4";
}

.icon-sharpicons_brush-:before {
    content: "\e7e5";
}

.icon-sharpicons_paintboard:before {
    content: "\e7e6";
}

.icon-sharpicons_eyedropper:before {
    content: "\e7e7";
}

.icon-sharpicons_pencil:before {
    content: "\e7e8";
}

.icon-sharpicons_pen:before {
    content: "\e7e9";
}

.icon-sharpicons_marker:before {
    content: "\e7ea";
}

.icon-sharpicons_paintbrush:before {
    content: "\e7eb";
}

.icon-sharpicons_knife:before {
    content: "\e7ec";
}
